*,
*::after *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", Montserrat;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 120vh;
  width: 100%;
}

.wrapper {
  max-width: 1306px;
  margin: 0 auto;
}

/* Navbar Section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1306px;
  top: 36px;
  padding-top: 12px;
  z-index: 100;
  height: 80px;
  transition: all 300ms ease;
}

nav.scrolled {
  background: linear-gradient(121.82deg, #6e55a6 -6.16%, #ffffff 110.62%);
  box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 10px 10px;
  top: 0;
  color: #fff;
}

nav .logo a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  gap: 6px;
  padding-left: 35px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 33.91px;
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #353535;
  opacity: 0.8;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #353535;
  bottom: -5px;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s ease;
}

nav ul li a:hover:after {
  transform: translateY(0);
  opacity: 1;
}

.user-pic {
  width: 35px;
  border-radius: 40%;
  cursor: pointer;
  margin-right: 45px;
}

.profila img {
  color: #fff;
}

.sub-menu-wrap {
  position: absolute;
  top: 90%;
  right: 3%;
  width: 300px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #fff;
  padding: 20px;

  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 200;
}

.user-info img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 1px 0 1px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 1px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link img {
  width: 20px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

/* end of navbar */

.container {
  max-width: 1306px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  margin-top: 200px;
}

.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: #dfd2d2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.col-1 {
  flex-basis: 20%;
  position: relative;
  text-align: center;
  margin-left: 200px;
}

.col-2 {
  flex-basis: 20%;
  position: relative;
  text-align: center;
  margin-right: 200px;
}

.profile {
  background: linear-gradient(180deg, #9370b0 0%, rgba(223, 14, 14, 0.39) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 57px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  border: 1px solid #000000;
}

.profile img {
  width: 50%;
}

.profile h3 {
  font-family: "Open Sans";
  font-size: 24px;
  color: #f3f3f3;
}

.submit {
  width: 200px;
  height: 100px;
  font-size: 20px;
  color: #fff;
  font-family: "Montserrat";
  margin-top: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.48) 0%,
    rgba(89, 97, 177, 0) 100%
  );
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 25, 0.48) 0%,
    rgba(6, 244, 36, 0.447508) 31.77%,
    rgba(89, 97, 177, 0) 100%
  );
}

.textfott {
  text-align: center;
  margin: 0px 200px 50px 200px;
}

.textfott h4 {
  font-family: "Open Sans";
  font-size: 20px;
  color: #ffffff;
}

@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    background: linear-gradient(#ff54a2, #ff575a);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
  }
}
